version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: picoIoT
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p123456"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: ./app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy # Aguarda o healthcheck do db passar
    environment:
      DB_HOST: db